{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" | strip %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% comment %} Thumbnail: header teaser if set, otherwise the first image in the post {% endcomment %}
{% assign thumb = nil %}
{% if post.header.teaser %}
  {% assign thumb = post.header.teaser %}
  {% unless thumb contains "://" %}{% assign thumb = thumb | prepend: "/images/" | prepend: base_path %}{% endunless %}
{% elsif post.content contains "<img" %}
  {% assign img_parts = post.content | split: "<img" %}
  {% assign src_parts = img_parts[1] | split: 'src="' %}
  {% assign thumb = src_parts[1] | split: '"' | first %}
{% elsif post.content contains "![" %}
  {% comment %} related posts arrive as unrendered Markdown {% endcomment %}
  {% assign img_parts = post.content | split: "![" %}
  {% assign src_parts = img_parts[1] | split: "](" %}
  {% assign thumb = src_parts[1] | split: ")" | first | split: " " | first %}
{% endif %}
{% if thumb %}
  {% unless thumb contains "://" %}{% assign thumb = thumb | prepend: base_path %}{% endunless %}
{% endif %}

{% comment %} Summary text: the excerpt, or the opening words of the post if the excerpt is only an image {% endcomment %}
{% assign summary = post.description | default: post.excerpt | markdownify | strip_html | strip %}
{% if summary contains "![" or summary contains "{:" %}{% assign summary = "" %}{% endif %}
{% if summary == "" %}
  {% assign summary = post.content | markdownify | strip_html | strip %}
{% endif %}
{% assign summary = summary | truncatewords: 40 %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item{% if thumb %} archive__item--thumb{% endif %}" itemscope itemtype="https://schema.org/CreativeWork">
    <div class="archive__item-body">
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>

      {% if post.collection == 'teaching' %}
        <p class="archive__item-meta">{{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% elsif post.collection == 'publications' %}
        <p class="archive__item-meta">{% if post.venue %}<i>{{ post.venue }}</i>, {% endif %}{{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% elsif post.date %}
        <p class="archive__item-meta"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time></p>
      {% endif %}

      {% if summary != "" %}
        <p class="archive__item-excerpt" itemprop="description">{{ summary }}</p>
      {% endif %}
    </div>
    {% if thumb %}
      <a class="archive__item-thumb" href="{{ base_path }}{{ post.url }}" tabindex="-1" aria-hidden="true">
        <img src="{{ thumb }}" alt="" loading="lazy">
      </a>
    {% endif %}
  </article>
</div>
