{% include base_path %}

<!-- Footer image: shown on every page except the homepage, with the copyright text overlaid on top of it. -->
{% assign show_footer_image = false %}
{% if site.footer_image and page.url != "/" %}
  {% assign show_footer_image = true %}
{% endif %}

<div class="page__footer-inner{% if show_footer_image %} has-image{% endif %}">
  {% if show_footer_image %}
  <div class="page__footer-image">
    <img src="{{ base_path }}{{ site.footer_image }}" alt="" />
  </div>
  {% endif %}

  <div class="page__footer-copyright">
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}<br />
    Site last updated {{ "now" | date: '%Y-%m-%d' }}, <a href="/sitemap/" style="text-transform: uppercase;">{{ site.data.ui-text[site.locale].site_map | default: "Sitemap" }}</a>
  </div>
</div>
